body
{
    text-align: center;
    background-color: aliceblue;

    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 1;
}
header
{
    margin-top: 2%;;
    margin-bottom: 3%;

    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500;
}

section
{
    text-align: left;
    margin-left: 37%;
}

footer
{
    text-align: left;
    margin-left: 37%;
}
